
<table cellpadding="10" cellspacing="1" width="100%" bgcolor="#000000" align="center">
<tr>
    <td bgcolor="#eeeeee" align="center">
		<table width="500" align="center">
		<tr>
			<td bgcolor="#eeeeee">
			<font size="2" face="arial">
				<strong>Assunto:</strong> #email_subject# <br />
				<strong>From:</strong> #email_from_name# &lt;#email_from#&gt;<br />
				<strong>To:</strong> #email_to# <br />
				<strong>Data e hora:</strong> #quando#
			</font>
			</td>
		</tr>
		</table>
    </td>
</tr>
</table>
<br /><br />
